{% extends "./layout/default" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h1>{{ mainTitle }}</h1>
                <h2>{{ subTitle }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p class="lead">Configure your import.</p>
                <p>
                    CSV files come in many shapes and forms. Some of the most important settings are below.
                </p>
                {% if not errors.isEmpty %}
                    <p class="text-danger">Some error(s) occurred:</p>
                    <ul>
                        {% for error in errors.all %}
                        <li class="text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <hr/>
                <div class="row">
                    <div class="col-lg-10">
                        <form method="post" action="{{ route('import.configure.post') }}" accept-charset="UTF-8" id="store">
                            <input type="hidden" name="_token" value="{{ csrf_token() }}"/>
                            <input type="hidden" name="roles" value="{{ roles }}"/>
                            <input type="hidden" name="do_mapping" value="{{ doMapping }}"/>
                            <input type="hidden" name="mapping" value="{{ mapping }}"/>
                            <h4>File options</h4>

                            <div class="form-group row">
                                <div class="col-sm-3">Headers</div>
                                <div class="col-sm-9">
                                    <div class="form-check">
                                        <input class="form-check-input" {% if configuration.isHeaders %}checked{% endif %} type="checkbox" id="headers" name="headers" value="1" aria-describedby="headersHelp">
                                        <label class="form-check-label" for="headers">
                                            Yes
                                        </label>
                                        <small id="headersHelp" class="form-text text-muted">
                                            Select this checkbox when your CSV file has headers on the first line of the file.
                                        </small>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="delimiter" class="col-sm-3 col-form-label">CSV delimiter</label>
                                <div class="col-sm-9">
                                    <select id="delimiter" name="delimiter" class="form-control" aria-describedby="delimiterHelp">
                                        <option value="comma" {% if configuration.getDelimiter == 'comma' %}selected{% endif %} label="A comma (,)">A comma (,)</option>
                                        <option value="semicolon" {% if configuration.getDelimiter == 'semicolon' %}selected{% endif %} label="A semicolon (;)">A semicolon (;)</option>
                                        <option value="tab" {% if configuration.getDelimiter == 'tab' %}selected{% endif %} label="A tab (invisible)">A tab (invisible)</option>
                                    </select>
                                    <small id="delimiterHelp" class="form-text text-muted">
                                        Select the field separator of our CSV file. This is almost always a comma.
                                    </small>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="date" class="col-sm-3 col-form-label">Date format</label>
                                <div class="col-sm-9">
                                    <input type="text" name="date" class="form-control" id="date" placeholder="Date format" value="{{ configuration.getDate|default('Y-m-d') }}" aria-describedby="dateHelp">
                                    <small id="dateHelp" class="form-text text-muted">
                                        Use this box to set the date format as it can be found in your file. You can use the format as described
                                        <a href="https://www.php.net/manual/en/function.date.php">on this page</a>.
                                        Don't stop playing with this setting until <strong id="date_example">1984-09-17</strong> matches what you see in your
                                        CSV file.
                                    </small>
                                </div>
                            </div>


                            <h4>Import options</h4>
                            <div class="form-group row">
                                <label for="default_account" class="col-sm-3 col-form-label">Default import account</label>
                                <div class="col-sm-9">
                                    <select id="default_account" name="default_account" class="form-control" aria-describedby="defaultAccountHelp">
                                        {% for account in accounts %}
                                            <option {% if configuration.getDefaultAccount == account.id %}selected{% endif %} value="{{ account.id }}" label="{{ account.name }}">{{ account.name }}</option>
                                        {% endfor %}
                                    </select>
                                    <small id="defaultAccountHelp" class="form-text text-muted">
                                        Select the asset account you want to link transactions to, if your CSV file doesn't have enough meta data
                                        to determine this.
                                    </small>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-3">Rules</div>
                                <div class="col-sm-9">
                                    <div class="form-check">
                                        <input class="form-check-input" {% if configuration.isRules %}checked{% endif %} type="checkbox" id="rules" name="rules" value="1" aria-describedby="rulesHelp">
                                        <label class="form-check-label" for="rules">
                                            Yes
                                        </label>
                                        <small id="rulesHelp" class="form-text text-muted">
                                            Select if you want Firefly III to apply your rules to the import.
                                        </small>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="X" class="col-sm-3 col-form-label">Unique transactions</label>
                                <div class="col-sm-9">

                                    <div class="form-check">
                                        <input class="form-check-input" {% if configuration.isIgnoreDuplicateLines %}checked{% endif %} type="checkbox" value="1" id="ignore_duplicate_lines" name="ignore_duplicate_lines" aria-describedby="duplicateHelp">
                                        <label class="form-check-label" for="ignore_duplicate_lines">
                                            Do not import duplicate lines in the CSV file.
                                        </label>
                                    </div>

                                    <div class="form-check">
                                        <input class="form-check-input" {% if configuration.isIgnoreDuplicateTransactions %}checked{% endif %} type="checkbox" value="1" id="ignore_duplicate_transactions" name="ignore_duplicate_transactions" aria-describedby="duplicateHelp">
                                        <label class="form-check-label" for="ignore_duplicate_transactions">
                                            Do not import already existing transactions.
                                        </label>
                                    </div>

                                    <small class="form-text text-muted" id="duplicateHelp">
                                        The import routine has several ways of checking if transactions are unique. Select how strict the import
                                        routine must be. By selecting nothing, all duplicates will be imported if found.
                                    </small>
                                </div>
                            </div>

                            <h4>Bank-specific options</h4>
                            <div class="form-group row">
                                <label for="specifics" class="col-sm-3 col-form-label">Bank specific options</label>
                                <div class="col-sm-9">
                                        {% for key, specific in specifics %}
                                            <div class="form-check">
                                                <input class="form-check-input" {% if configuration.hasSpecific(key) %}checked{% endif %} type="checkbox" value="1" id="specific_{{ key }}" name="specific_{{ key }}" aria-describedby="specificHelp">
                                                <label class="form-check-label" for="specific_{{key}}">
                                                    {{ specific.name }}<br />
                                                    <small>{{ specific.description }}</small>
                                                </label>
                                            </div>
                                        {% endfor %}
                                    <small class="form-text text-muted" id="specificHelp">
                                        In this list you will find an (ever growing) list of bank&mdash; and system-specific options
                                        that will be applied to the data in your CSV file. Select one that applies to you import file.
                                    </small>
                                </div>
                            </div>

                            <h4>Other options</h4>
                            <div class="form-group row">
                                <div class="col-sm-3">Skip form</div>
                                <div class="col-sm-9">
                                    <div class="form-check">
                                        <input class="form-check-input" {% if configuration.isSkipForm %}checked{% endif %} type="checkbox" id="skip_form" name="skip_form" value="1" aria-describedby="skipHelp">
                                        <label class="form-check-label" for="skip_form">
                                            Yes
                                        </label>
                                        <small id="skipHelp" class="form-text text-muted">
                                            Skip the options the next time you import and go straight to processing.
                                        </small>
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript">

        var phpFormatRoute = '{{ route('import.configure.php_date') }}';
        $( document ).ready(function() {
            updateDateExample();
        });
        function updateDateExample() {
            $('#date_example').text('...');
            var format = $('#date').val();
            $.getJSON(phpFormatRoute, {format: format}).done(function (data) {
                $('#date_example').text(data.result);
            }).fail(function () {
                $('#date_example').text(':(');
            });
        }

        $('#date').on('change',updateDateExample);
    </script>
{% endblock %}
